.about-container {
    font-family: 'Poppins';
}

.about-header {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('./images/ewaste-graveyard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 1;
}

/* Semi-transparent overlay */
.about-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
    border-radius: inherit;
}

.about-title-div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title-div h1 {
    color: white;
    border-left: 8px solid #3F72AF;
    padding-left: 8px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 12%;
}

.about-title-div p {
    margin: 75px 50px 0 50px;
    font-size: .90em;
}

.about-whatwedo-div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-whatwedo-div h2 {
    position: absolute;
    top: 8%;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.what-we-do div {
    opacity: 0;
    transform: translateX(50px); /* Start position */
    animation: fadeInLeft 0.5s ease-in-out forwards;
    display: flex;
    align-items: center;
    gap: 10px;
}

.what-we-do div:nth-child(1) {
    animation-delay: 0.5s;
}

.what-we-do div:nth-child(2) {
    animation-delay: 1s;
}

.what-we-do div:nth-child(3) {
    animation-delay: 1.5s;
}

.what-we-do div p {
    font-size: 1.25em;
    text-align: left;
}

.what-we-do div span {
    position: relative;
    font-size: .75em;
    color:#F9F7F7;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-header-img {
    height: 60px;
    margin-bottom: 8px;
}

.about-content {
    margin: 24px 100px 0 100px;
}

.about-content h2,
.about-content p,
.about-content li {
    color: #112D4E;
}

.about-content ul {
    list-style: none;
}