@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.ac-body {
    font-family: 'Poppins';
    background-color: #DBE2EF;
    position: relative;
    text-align: left;    
    min-height: 100dvh;
}

.flex-cont {
    display: flex;
    flex-grow: 1;
}

.ac-form-container {
    flex-grow: 1;
    padding-top: 60px;
    margin-left: 10px;
    height: calc(100% - 55px);
}

.ac-form-container h1 {
    text-align: center;
    margin-bottom: 70px;
    color: #112D4E;
}

.style-block {
    background-color: #112D4E;
    width: 300px;
    height: calc(100dvh - 155px);
    position: relative;
    left: 12px;
    margin-left: 20px;
}

.ac-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #112D4E;
    font-weight: 500;
}

.ac-submit:hover {
    background-color: #3F72AF;
}

@media (max-width: 950px) {
    .style-block {
        display: none;
    }
   
    .ac-form-container {
        max-width: 100%; 
    }
}

@media (max-width: 767px) {
    .name-input,
    .city-input,
    .state-input {
        margin-bottom: 15px;
    }
}