.admin-login-container {
    background-color: #DBE2EF;
    min-height: calc(100dvh - 55px);
    height: calc(100% - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.admin-login-btn {
    width: 40%;
    height: 50px;
    margin: 0 auto;
}

.login-alert {
    position: relative;
    top: 30px;
}