.footer-div {
    width: 100dvw;
    background-color: #DBE2EF;
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-header {
    position: relative;
}

.footer-link-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-notes p {
    color: #112D4E;
    margin: 0;
}

.footer-div a {
    color: inherit;
    text-decoration: none !important;
}

@media (max-width: 900px) {
    .footer-div {
        flex-direction: column;
    }
}