.navbar {
    background-color: #DBE2EF;
    z-index: 1000;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between; 
    align-items: center;             
    padding: 0 15px;   
    height: 55px;            
}

.navbar-brand {
    color: #112D4E;
    font-weight: 800;
}

.navbar-dropdown {
    position: relative;
    background-color: #DBE2EF;
}

.nav-link {
    color: #112D4E;
    font-weight: 400;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.nav-link:hover {
    color: green;
    font-weight: 500;
}