@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.navbar {
    background-color: #DBE2EF;
    height: 55px;
    z-index: 1000;
    font-family: 'Poppins';
}

.navbar-brand {
    color: #112D4E;
    font-weight: 800;
}

.navbar-dropdown {
    position: relative;
    width: 50px !important; 
    background-color: #DBE2EF;
    margin-top: 7px;
}

.nav-link {
    color: #112D4E;
    font-weight: 400;
}

.nav-link:hover {
    color: green;
    font-weight: 500;
}